link(rel='stylesheet', href='/css/header.css')
script(async src='/js/header.js')

header
  h1
    span.hidden-a11y-text Cake Daze
    img(src='/assets/media/logo.svg', alt='Cake Daze', width='300', class='header-logo')

  nav
    ul.header-navigation
      li: a(href='#cake-listing' data-scroll-link) Cakes
      li: a(href='#events' data-scroll-link) Events
      li: a(href='#contact' data-scroll-link) Contact
