extends ../layout.pug

block content
  main#about
    include ../partials/about/about.pug

  section#cakes
    include ../partials/cake-listing/cake-listing.pug

  section#events
    include ../partials/event-listing/event-listing.pug

  footer#contact
    include ../partials/contact/contact.pug
