extends ../layout.pug

block content
  main#about
    include ../partials/about/about.pug

  section#cake-listing
    include ../partials/cake-listing/cake-listing.pug

  footer#contact
    include ../partials/contact/contact.pug
