link(rel='stylesheet', href='/css/contact.css')

div.contact-section
  h2.hidden-a11y-text Contact
  div
    h3 Thea Laarman<br>#[span.contact-title Essential Cake Maker]
    address.contact-address
      p Barneveld
      p
        span Email #[a(href='mailto:cakedaze@icloud.com') cakedaze@icloud.com]
        br
        span Telefoon #[a(href='tel:cakedaze@icloud.com') 0641751773]
