doctype html

html(lang='nl')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    meta(name='author', content='Thea Laarman')
    meta(name='description', content='Cakes gebakken voor iedereen geïnspireerd door de Engelse cake-traditie.')
    meta(name='theme-color', content='#D17E15')
    link(rel='icon', href='/assets/media/favicon.png')
    link(rel='stylesheet', href='/css/core.css')
    title Cake Daze

  body
    include ./partials/header/header.pug

    block content
